{% block footer %}
    <footer class="p-4 mt-4 bg-gray-300 text-gray-700 text-center">
        <a class="text-sm md:text-base lg:text-md xl:text-xl w-full xl:max-w-screen-xl" href="/contact">@odbots</a>
    </footer>
{% endblock %}
