<h1
  class="text-blue-500 text-center w-full break-all my-3 text-lg px-4 md:px-0"
>
  Download {{ name }}
</h1>

<div class="mx-auto my-2 text-white flex justify-center p-2">
  <a
    class="w-full md:w-auto rounded p-2 text-center mx-auto bg-indigo-500 hover:bg-indigo-700 shadow-lg break-words"
    href="{{ download_url }}"
    target="_blank"
  >
    Download Now! ({{ size }})
  </a>
</div>
