{% block header %}
    <header class="p-4 bg-gray-300 text-gray-700 rounded">
        <div class="w-full xl:max-w-screen-xl">
            <a class="text-base md:text-md lg:text-lg xl:text-xl" href="/">@Tg2extBot</a>
        </div>
    </header>
{% endblock %}
