<!doctype html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>{% if found %}Download | {{name}} | {{size}}{% else %}Ooops...{% endif %}</title>
</head>

<body>

    <div class="m-auto w-full">

        {% include 'header.jinja' %}

        {% include 'content.jinja' %}

        {% include 'footer.jinja' %}


    </div>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-172336751-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-172336751-1');
    </script>

</body>

</html>